.header {
    background-color: rgba(30, 30, 199, 0.493);
    padding: 10px 20px 20px 20px;
    margin: 0px;
    width: 100%;
    color: white;
    text-align: center;
}

h4,
h2 {
    text-align: center;
    color: white;
}

#input-prompt {
    color: rgb(92, 92, 92);
}

.user-input{
    background-color:lightgray;
    margin-top: 0px;
    padding: 30px;
}

#about-doctor {
    background-color:lightgray;
    color: rgb(92, 92, 92);
    margin-top: 0px;
    padding: 10px 30px 30px 30px;
}

.doctor-results {
    background-color:lightgray;
    color: rgb(92, 92, 92);
    margin-top: 0px;
}

.doc-info {
    padding: 0px 30px 0px 30px;
}

#save-doc {
    margin: 0px 0px 30px 10px;
    background-color: rgba(30, 30, 199, 0.493);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

#save-doc:hover {
    border-color: #ffb97c;
}

#map-btn {
    margin: 0px 0px 30px 30px;
    background-color: rgba(30, 30, 199, 0.493);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

#map-btn:hover {
    border-color: #ffb97c;
}

#no-results {
    color: red;
}

#submit-input {
    background-color: rgba(30, 30, 199, 0.493);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

#submit-input:hover {
    border-color: #ffb97c;
}


input:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #9c9c9c!important;
    box-shadow: 0 1px 0 0 #ffb97c!important;
}

#doctor-name {
    background-color: rgba(30, 30, 199, 0.493);
    text-align: center;
    color: white;
    padding: 10px 20px 20px 20px;
    margin: 0px;
}

nav{

    background-color: white;
}

nav ul li,.nav-wrapper a,nav ul li a{
    color:#ffb97c;}
